#R project state
.Rproj.user/
.Rhistory
.RData
.Ruserdata
/renv/library/

#Quarto build artifacts
.quarto
_site
_freeze
.quarto/

#python/virtualenv
__pycache__/

#vs code
.vscode/

/.quarto/
**/*.quarto_ipynb
